<html >

<head>
    <link href="style/main.css" rel="stylesheet" type="text/css" />
    <link href="style/sidebar.css" rel="stylesheet" type="text/css" />
    <link href="app\Libraries\boostrap\css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="app\Libraries\tostr\tostr.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="app\Data\patientData.js"></script>
    <script data-main='app\config' src='app\Libraries\RequireJs\require.js'></script>


    <!--  
    <script type="text/javascript" src="Libraries\jqury\jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="Libraries\boostrap\js\bootstrap.min.js"></script>
    <script type="text/javascript" src="app\Utilities\dataService.js"></script>
    <script type="text/javascript" src="app\Utilities\routerEngine.js"></script>
    <script type="text/javascript" src="app\main.js"></script>
    <script type="text/javascript" src="app\Screens\editPatientScreen.js"></script>
    <script type="text/javascript" src="app\Screens\listPatientScreen.js"></script>
    <script type="text/javascript" src="app\Utilities\ValidationEngine.js"></script>
    <script type="text/javascript" src="Libraries\moment\moment.js"></script>
    <script type="text/javascript" src="Libraries\tostr\tostr.js"></script>
    <script id="template" type="jsTemplate">
       " <tr> <td>{{fname}} {{mname}} {{lname}}</td>  <td>{{status}}</td> <td>{{Active}}</td> <td>{{email}}</td> <td>{{DOB}}</td> <td>{{lastCheck}}</td> <td>{{gender}}</td></tr>"
    </script>   -->








</head>


<body>

    <div class="container-fluid ">

        <div class="sidebar">
            <ul class="sidebar-Navagation">
                <li> <a href="#" class="patientlist route" data-sref="patient-list">Patients</a> </li>
                <li> <a href="javascript:void(0)" class=" route" data-sref="user-list">Users</a> </li>
                <li> <a href="javascript:void(0)" class="sidebar-Bottom">Logout</a> </li>
            </ul>
        </div>



        <!-- Page Content -->
        <div class="contentContainer">
              

           </div>
    </div>


</body>

</html>