body {
    padding: 0;
    margin: 0;
}

/*List Screen*/
.list-screen .screen-header {
    margin: 10px;
}

/*edit Screen*/
.edit-screen .screen-header{
       margin:50px;
    
}

/*table head*/
.list-screen .data-table th {
    color: #766;
}

/*buttons of patient edit*/
.margin-top{
    margin-top: 50px;
    
}

.invisble{
    display: none;
}


.color{
    color:red;
}