
/*fixed sidebar*/
.sidebar {
    height: 100%;
    width: 125px;
    position: fixed;
    background-color: #34496F;
}



.sidebar-Navagation {
    margin-top: 2px;
    padding: 0;
    list-style: none;
}


.sidebar-Navagation li a {
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 17px;
    font-family: sans-serif;
    cursor: pointer;
    padding: 15px 20px;
}


.sidebar-Navagation li a:hover {
    background: rgba(255, 255, 255, 0.2);
}


/* the last li in ul */
.sidebar-Bottom {
    position: absolute;
    bottom: 5%;
    width: 100%;
}


/* to prevent overflow*/
.contentContainer {
    margin-left: 150px;
}


