<div class="user-list  Screen">
    <h1 class="screen-header">Users</h1>
    <div class="toolbar ">
       <button type="button" class="btn btn-large btn-primary showUserEdit  route " data-sref="user-edit">add</button>
    </div>
</div>
