
            <div class="patient-edit  edit-screen  Screen">

                <h2 class="screen-header">patient:(new)</h2>

                <form class="form-horizontal name="EditScreen" ">
                    <div class="row">
                        <div class="col-md-5">

                            <div class="form-group   ">
                                <label class="col-md-3 " for="fName"> First Name </label>
                                <div class="col-md-9">
                                    <input class="form-control  " type="text" data-bind="value:fname" name="fName" data-validate="required">
                                    <div class="invisble color error-message "> </div>
                                </div>

                            </div>


                            <div class="form-group ">
                                <label class="col-md-3 " for="mName"> Middle Name </label>
                                <div class="col-md-9 ">
                                    <input class="form-control " type="text" data-bind="value:mname" name="mName">

                                </div>
                            </div>


                            <div class="form-group  ">
                                <label class="col-md-3" for="lName"> Last Name </label>
                                <div class="col-md-9 ">
                                    <input class="form-control " type="text" name="lName"data-bind="value:lname" id="lastname" data-validate="required">
                                    <div class="invisble color error-message "> </div>
                                </div>
                            </div>


                            <div class="form-group ">
                                <label class="col-md-3" for="status">Status</label>
                                <div class="col-md-9">
                                    <select class="form-control col-md-9" name="status" data-bind="value:status"id="status">
                                                                 <option value="Select"></option>
                                                                 <option value="0">Draft</option>
                                                                 <option value="1">Saved</option>
                                                                 <option value="2">Deleted</option>
                                                                 <option value="3">Canceled</option>
                                                         </select>
                                </div>

                            </div>


                            <div class="form-group  ">
                                <label class="col-md-3" for="check">Active</label>
                                <div class="col-md-9">
                                    <input type="checkbox" name="check" data-bind="value:Active" value="true" checked>

                                </div>
                            </div>
                        </div>

                        <div class="col-md-1"></div>

                        <div class="col-md-5">

                            <div class="form-group  ">
                                <label class="col-md-3 " for="Email"> Email </label>
                                <div class="col-md-9">
                                    <input class="form-control " type="text"data-bind="value:email" name="Email" placeholder="your valid email" data-validate="required,email">
                                    <div class="invisble color error-message "> </div>
                                </div>
                            </div>


                            <div class="form-group   ">
                                <label class="col-md-3" for="dob"> Date Of Birth </label>
                                <div class="col-md-9">
                                    <input class="form-control " type="Date" name="dob"data-bind="value:DOB" id="dob" data-validate="required,date">
                                    <div class="invisble color error-message "> </div>

                                </div>
                            </div>


                            <div class="form-group  ">
                                <label class="col-md-3 " for="lCheck"> Last Check </label>
                                <div class="col-md-9">
                                    <input class="form-control" type="Date" data-bind="value:lastCheck" name="lCheck">

                                </div>

                            </div>


                            <div class="form-group ">
                                <label class=" col-md-3" for="genders"> Gender</label>
                                <div class="col-md-4">
                                    <input type="radio" name="genders"data-bind="value:gender" value="1" checked> Male
                                </div>
                                <div class="col-md-5">
                                    <input type="radio" name="genders" data-bind="value:gender"value="2"> Female
                                </div>
                            </div>
                        </div>


                        <div class="col-md-1"></div>
                    </div>
                    <div>
                        <button type="button" class="btn btn-large btn-primary active  margin-top savebutton " >saved</button>
                        <button type="button" class="btn btn-large btn-primary active margin-top   route " data-sref="patient-list">cancel</button>
                    </div>

                </form>
            </div>
