
            <div class="  list-screen patient-list  Screen ">
                <div class="text-center">
                    <h1 class=" screen-header ">Patients List</h1>
                </div>

                   
                <div class="toolbar clearfix">
                    <button type="button" class="btn btn-large btn-primary  pull-right route   addButton " data-sref="patient-edit" >add</button>
                </div>



                <table class="table  table-bordered  table-striped  data-table   ">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Date Of Birthday</th>
                            <th>Active</th>
                            <th>Creation</th>
                        </tr>
                    </thead>
                    <tbody class="tableInfo"></tbody>
                </table>
            </div>
